form.form-inline(name='invitationForm')
  .form-group
    input.form-control.input-sm(type='text', name="contact",
    ng-disabled='!editing && !creating', ng-model='invitation.contact', placeholder='Email or #')
    select(name='medium', ng-disabled='!editing && !creating', ng-model='invitation.medium')
      option(value='email') Email
      option(value='whatsapp') Whatsapp
  .form-group
    button.z-btn(type='submit', ng-click='send(invitation)',
    ng-hide='creating || editing || invitation.codeSent') Send
    //- Only show save when editing or new invitation.
    //- Hide all other field if its new invitation
    button.z-btn(type='submit', ng-click='save(invitation)',
    ng-show='creating || editing') Save
    button.z-btn(type='submit', ng-click='edit()',
    ng-show='!creating && !editing') Edit
    button.z-btn(type='submit', ng-click='delete(invitation, $index)',
    ng-show='!creating && !editing') Delete
  .form-group
    p(ng-hide='creating')
      span(ng-show='invitation.codeSent && !invitation.accepted') Pending
      span(ng-show='invitation.accepted') Accepted
