.dropdown
    input.z-search-box(type='search', class= 'form-control input-lg', name='searchBox', ng-model='search.searchTerm', 
    ng-model-options='{ debounce: 1000 }', ng-change='goFetch(search.searchTerm)', data-toggle='dropdown',
    placeholder='Search for artists, albums, and tracks...')

    ul.dropdown-menu(class='list-unstyled')
        li.menu-item(class='z-search-box-title', ng-show='!!u.length') Users
            ul.z-list(class='list-unstyled')
                li.z-track(ng-repeat='user in (u = (search.users | filter: search.searchTerm))'): a(href='/user/{{user._id}}')
                    .media
                        .media-left
                            img.media-object(name='avatar', width='35',
                            ng-src='{{ user.img }}', alt='{{ user.handle }}')
                        .media-body
                            h5.media-heading {{ user.handle }}
                                .small {{ user.firstName }} {{ user.lastName }}
        li.menu-item(ng-show='!!a.length') Albums
            ul.z-list(class='list-unstyled')
                li.z-track(ng-repeat='album in (a = (search.albums | filter: search.searchTerm))'): a(href='/album/{{album._id}}')
                    .media
                        .media-left
                            img.media-object(name='coverArt', width='35',
                            ng-src='{{ album.img }}', alt='{{ album.title }}')
                        .media-body
                            h5.media-heading {{ album.title }}
                                .small {{ user.handle }}
        li.menu-item(ng-show='!!t.length') Tracks
            ul.z-list(class='list-unstyled')
                li.z-track(ng-repeat='track in (t = (search.tracks | filter: search.searchTerm))'): a(href='/track/{{track._id}}')
                    .media
                        .media-left
                            img.media-object(name='coverArt', width='35',
                            ng-src='{{ track.img }}', alt='{{ track.title }}')
                        .media-body
                            h5.media-heading {{ track.title }}
                                .small {{ user.handle }} 
        li.menu-item(ng-show='(!t.length && !u.length && !a.length)')
            p.text-center(ng-show='!!search.searchTerm').
                No search results for <b>{{ search.searchTerm }}</b>
            p.text-center(ng-show='!search.searchTerm').
                Start searching...